<div class="row">
  <div class="col-md-3">
    <h3>lowercase pipe</h3>
    <p>Normal: {{ lipsum }}</p>
    <p>Used lowercase pipe: {{ lipsum | lowercase }}</p>
  </div>

  <div class="col-md-3">
    <h3>titlecase pipe</h3>
    <p>Normal: {{ lipsum }}</p>
    <p>Used titlecase pipe: {{ lipsum | titlecase}}</p>
  </div>

  <div class="col-md-3">
    <h3>uppercase pipe</h3>
    <p>Normal: {{ lipsum }}</p>
    <p>Used uppercase pipe: {{ lipsum | uppercase}}</p>
  </div>

  <div class="col-md-3">
    <h3>Custom pipe</h3>
    <p>Normal: {{ cash }}</p>
    <p>Used custom pipe: {{ cash | tl}}</p>
  </div>
</div>



